<form  action="/songs/edit" method="post">

  <label for="Name">Name: </label>
  <input type="text" name="Name" id="Name" value="Name">

  <label for="artist">Artist Name: </label>
  <input type="text" name="artist" id="artist" value="Artist">


  <input type="Edit" name="Edit" id="Edit" value="Edit">

</form>
